
body {
    text-align: center;
}

#board {
    width: 630px;
    height: 540px;
    background-color: blue;
    border: 10px solid darkblue;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}

.tile {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}
